.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

.accordian {
    width: 500px;
}

.item {
    background: #1a1a1a;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 15px;
}

.title {
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color :#ffffff;
    height: auto;
}

